#emails {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#emails td, #emails th {
  border: 1px solid #ddd;
  padding: 8px;
}

#emails tr:nth-child(even) {
  background-color: #f2f2f2;
}

#emails tr:hover {
  background-color: #ddd;
}

#emails th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
